@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.padding-container {
  padding: 0 70px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto -10px auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 139px;
  margin-right: 30px;
  position: relative;
}

.navigation-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 4px 0;
  width: 460px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  box-sizing: border-box;
  width: 306px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 12px;
}

.navigation-user .navigation-link {
  min-width: 17px;
  min-height: 23px;
  padding: 20px 12px 20px 12px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.promotion-image {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-feature-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.advantages-features-item {
  box-sizing: border-box;
  width: 400px;
  padding: 90px 80px 80px 80px;
}

.advantages-item:nth-child(1n+3) {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 97px 75px 108px 75px;
}

/*класс button как базовая стилизация линков и кнопок, слишком часто встречаются*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
  appearance: none;
  background-color: #756257;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
}

.navigation-link {
  display: block;
  padding: 17px  17px 23px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.get-hotel-link {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 37px;
}

.promotion-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 80px;
}

.promotion-header-container {
  background-color: #9cd2e7;
  background-image: url("../images/main-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 485px;
  padding-top: 51px;
}

.promotion-title {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.promotion-description {
  width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-container {
  width: 220px;
  padding: 97px 90px 80px 90px;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n+4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantage-number {
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-item:nth-child(1n+3)>.advantage-number {
  color: #333333;
}

.advantage-description {
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-item:nth-child(1n+3)>.advantage-description {
  color: #333333;
}

.advantages-features-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-features-title {
  margin-top: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advantage-features-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.image-container {
  display: flex;
}

.advantages-photo {
  background-color: #83b3d3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.searching {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.searching-question {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
}

.searching-description {
  margin-top: 0;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 720px;
}

.searching-button {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  border-radius: 10px;
}

.subscription {
  box-sizing: border-box;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 411px;
  color: #ffffff
}

.subscription-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-promo-text {
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-subscription-promo-text {
  color: #ffffff;
}

.subscription-input {
  background-color: #f2f2f2;
}

.subscription-button {
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}

.main-footer {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.footer-social {
  width: 130px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-social-item {
  min-width: 20px;
  min-height: 16px;
}

.footer-address {
  font-style: normal;
}

.footer-address-phone {
  text-decoration-line: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.youtube-link .twitter-link .facebook-link{
  display: block;
}

/*Catalog.html*/

.catalog-products {
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 83px;
  background-color: #83b3d3;
  background-image: url("../images/catalog-background-1.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 408px;
  margin-bottom: 45px;
}

.catalog-products-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25.88px;
  color: #ffffff;
}

.control-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filter-button {
  font-size: 16px;
  line-height: 21px;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
}

.button-reset {
  background: none;
  border: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
}

.find-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 38.82px;
  text-transform: uppercase;
}

.sorting-select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-item {
  margin-right: 8px;
}

.sorting-button {
  display: block;
  margin: 0;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-button-active {
  border: 2px solid #000000;
}

.hotel-cards {
  display: flex;
  flex-direction: column;
}

.hotel-card-list {
  margin: 0 0 30px 0;
  padding: 0 0 32px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 18px;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-item {
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 16px;
}

.hotel-card-link {
  display: flex;
  margin: 0;
  width: 100%;
  grid-column: 1/ -1;
}

.hotel-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  grid-column: 1 / -1;
}

.hotel-card-type {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  grid-column: 1 / 2;
}

.hotel-card-min-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-details-link {
  font-size: 16px;
  line-height: 21px;
  height: 37px;
}

.add-favorite-card-button {
  background-color: #83b3d3;
  height: 37px;
  font-size: 16px;
  line-height: 21px;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
}

.hotel-card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 160px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-show-more {
  align-self: center;
  justify-self: center;
  background-color: #83b3d3;
  width: 620px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
}

.pagination-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  background-color: #83b3d3;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 55px;
  min-width: 55px;
}

.pagination-current {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #000000;
}

.total-hotels-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-hotels-show {
  margin: 0 51px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}

.total-hotels-count {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}


